<form>
  <h1>DELETANDO DEVOCIONAL</h1>

  <mat-form-field class="form">
    <mat-label>Título Devocional</mat-label>
    <input
      matInput
      [(ngModel)]="devocional.devotionalTitle"
      type="text"
      name="tituloDevocional"
      disabled
    />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Texto Versículo</mat-label>
    <textarea
      matInput
      [(ngModel)]="devocional.textVersicle"
      type="text"
      name="textoVersiculo"
      disabled
    ></textarea>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Texto Devocional</mat-label>
    <textarea
      matInput
      [(ngModel)]="devocional.devotionalText"
      type="text"
      name="textoDevocional"
      disabled
    ></textarea>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Texto de Oração</mat-label>
    <textarea
      matInput
      [(ngModel)]="devocional.prayerText"
      type="text"
      name="textoOracao"
      disabled
    ></textarea>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Data do Post</mat-label>
    <textarea
      matInput
      [(ngModel)]="devocional.postDate"
      type="text"
      name="dataPostagem"
      disabled
    ></textarea>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>ID</mat-label>
    <input
      matInput
      [(ngModel)]="devocional.id"
      type="number"
      name="id"
      disabled
    />
  </mat-form-field>

  <div class="buttons">
    <button
      (click)="delete()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      DELETAR
    </button>
    <button
      (click)="cancel()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="warn"
    >
      CANCELAR
    </button>
  </div>
</form>
